h8{
  font-size: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  font-style: normal;
  font-family: 'Courier New', monospace;
  
}

boutonrefresh {
  font-size: 20px;
  background-color: #C69749;
  padding: 0.3% 2%;
  font-weight: bold;
  color: white;
  font-family: $font-1;
  border-radius: 12px;

}

h9{
  font-size: 30px;
  

}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h1 {
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;     
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


.form-component {
  .form-container {
    text-align: center;
  }
  form {
    width: 300px;
    margin: 0 auto;

    input[type="text"] {
      padding: 1px 10px;
      border-radius: 10px 10px 0 0;
      border: none;
      font-size: 1.5rem;
      display: block;
      margin: 0 auto;
      width: 220px;
      outline: none;
      text-align: center;
    }
    input[type="submit"] {
      padding: 1px 10px;
      width: 220px;
      border-radius: 0 0 10px 10px;
      border: none;
      background: $color-1;
      color: $white;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 10;
      position: relative;

      &:hover {
        background: $black;
      }
    }
  }
  .btn-sort-container {
    margin: 8px auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

    #goodToBad {
      border-radius: 10px 0 0 10px;
    }
    #badToGood {
      border-radius: 0 10px 10px 0;
    }
    #goodToBad,
    #badToGood {
      background: $color-1;
      width: 110px;
      transition: 0.3s;
      position: relative;

      &:hover {
        background: $black;
      }
    }
    #goodToBad span {
      transform: translateY(-50%) rotate(-90deg);
      right: 18px;
    }
    #badToGood span {
      transform: translateY(-50%) rotate(90deg);
      left: 16px;
    }
    #goodToBad span,
    #badToGood span {
      position: absolute;
      top: 50%;
    }
  }

  
}
